/* COLORS */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #555; }

.ant-input-disabled {
  color: #000 !important; }

.ant-card-head {
  padding: 0 16px !important; }

.ant-card-body {
  padding: 16px !important; }

.ant-layout-sider-trigger {
  background-color: #e6f7ff !important; }
  .ant-layout-sider-trigger i {
    color: #1890ff !important; }

.ant-table td,
.ant-table th {
  white-space: nowrap; }

.ant-table td {
  cursor: pointer; }

.ant-breadcrumb {
  font-size: 18px !important; }
  .ant-breadcrumb > span:not(:last-child) > span.ant-breadcrumb-link:first-child {
    cursor: pointer; }
    .ant-breadcrumb > span:not(:last-child) > span.ant-breadcrumb-link:first-child:hover {
      text-decoration: underline; }
